<h1>Posts Listing</h1>
<br>
<br>
<%= link_to  "Add Post", new_post_path %>
<br>
<br>

<% @posts.each do |post| %>

  <h3><%= post.title %></h3>
  <br>
    <br>
   <p> <%= post.text %>
    <br>
  <label>Created at</label>
    <%= post.created_at %>
    <br>
  <label>Updataed at</label>
    <%= post.updated_at %>
    <br></p>

  <%= link_to  "Edit ",  edit_post_path(post) %>
  <%= link_to  "Delete ",  post_path(post) , method: :delete , data: { confirm: 'Are you confirm'} %>
  <br>
  <br>
  <%= '=' * 100 %>
  <br>


<%end %>
